---
layout: default
title: About Hololabs
---

<img src="images/header.png" width="100%">
    
<p align="center">
Hololabs is an award-winning development studio based in Montreal, Canada,
specializing in digital media solutions at the intersection of technology,
creativity, and play.
</p>

<div class="grid">

  <div class="col-1-3">
    <div class="module">
    {% markdown %}
    
    {% include hololabs_factsheet.md %}
    
    {% endmarkdown %}
    </div>
  </div>
  
  <div class="col-2-3">
    <div class="module">
    {% markdown %}
    
    {% include hololabs_about.md %}
    
    {% endmarkdown %}
    </div>
  </div>
  
</div>