      </section>
      <footer>
      <strong>Hololabs Studio Inc.</strong>
        <ul class="fa-ul">
        <li><i class="fa-li fa fa-envelope-o fa-fw"></i> info@hololabs.org</li>
        <li><i class="fa-li fa fa-phone fa-fw"></i> +1 (514) 886-5497</li>
        <li><i class="fa-li fa fa-map-marker fa-fw"></i> <a href="http://goo.gl/maps/NGDRt">#315-5555 Avenue de Gaspé<br>
Montréal, QC H2T 2A3</a></li>
        <li><i class="fa-li fa fa-clock-o fa-fw"></i> UTC/GMT -5</li>
        </ul>
        
        <p><small>Copyright &copy; Hololabs Studio Inc. 2014</small></p>
      </footer>
    </div> <!-- end wrapper -->
    
    <script src="/js/scale.fix.js"></script>
    
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    
    <script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("UA-20166939-1");
      pageTracker._trackPageview();
      } catch(err) {}
    </script>



    {% if page.url == '/index.html' %}
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript">
    //from https://github.com/gist/4056588

    var Tumblr = Tumblr || {};

    Tumblr.RecentPosts = function(el, postsCount) {
      var apiUrl = "http://blog.hololabs.org/api/read/json?callback=?&filter=text&num=" + (postsCount || 10);

      var titleTypes = {
        regular: "regular-title",
        link: "link-text",
        quote: "quote-source",
        photo: "photo-caption",
        conversation: "conversation-title",
        video: "video-caption",
        audio: "audio-caption",
        answer: "question"
      };

      var renderPosts = function(posts) {
        return $.map($.map(posts, postInfo), renderPost);
      };

      var renderPost = function(post) {
        return "<li><a href='" + post.url + "'>" + post.title + "</a></li>";
      };

      var postInfo = function(post) {
        var titleType = titleTypes[post.type];
        if (titleType in post) {
          return {
            title: post[titleType],
            url: post["url-with-slug"]
          };
        }
      };

      return {
        render: function() {
          var loadingEl = $("<div>").text("Loading...").appendTo($(el));
          $.getJSON(apiUrl, function(data) {
            loadingEl.remove();
            $("<ul class='recent-posts'>").appendTo($(el)).hide().append(renderPosts(data.posts).join("\n")).slideDown('slow');
          });

          return this;
        }
      }
    };
    </script>
    <script type='text/javascript'
      $(function() { new Tumblr.RecentPosts($("#recent-posts")).render() })
    </script>
    {% endif %}


  </body>
</html>