      </section>
      <footer>
      <strong>Hololabs Studio Inc.</strong>
        <ul class="fa-ul">
        <li><i class="fa-li fa fa-envelope-o fa-fw"></i> info@hololabs.org</li>
        <li><i class="fa-li fa fa-phone fa-fw"></i> +1 (514) 886-5497</li>
        <li><i class="fa-li fa fa-map-marker fa-fw"></i> <a href="http://goo.gl/maps/NGDRt">#315-5555 Avenue de Gaspé<br>
Montréal, QC H2T 2A3</a></li>
        <li><i class="fa-li fa fa-clock-o fa-fw"></i> UTC/GMT -5</li>
        </ul>
        
        <p><small>Copyright &copy; Hololabs Studio Inc. 2014</small></p>
      </footer>
    </div> <!-- end wrapper -->
    
    <script src="/js/scale.fix.js"></script>
    
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    
    <script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("UA-20166939-1");
      pageTracker._trackPageview();
      } catch(err) {}
    </script>


  </body>
</html>