<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Hololabs</title>

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/pygment_trac.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
  </head>
  <body>
    <div class="wrapper">
      <header>
        <a href="/"><img src="/images/Hololabs_Logo_512_Black.png" width="128px" style="display: block; margin-left: auto; margin-right: auto;"></a>

        <p>Specialists in Creativity &amp; Play</p>
        <div id="menu">
        
          <ul>
          <li><a href="/">HOME</a></li>
          <li><a href="/team/">TEAM</a></li>
          <li><a href="/contact.html">CONTACT</a></li>
          </ul>
        
          <div class="submenu">
          <strong>PROJECTS:</strong><br>
          <a href="/projects/papercade" nowrap>Papercade</a> |
          <a href="/projects/floorkids" nowrap>Floor Kids</a><br>
          <a href="/projects/phonophotopia" nowrap>Phonophotopia</a> |
          <a href="/projects/farrago" nowrap>Farrago</a>
          </div>        
        
        </div>

      </header>
      <section>
 