{% include header.html %}

{{ content }}

<p>&nbsp;</p>

<h2>Images</h2>

<div id="masonry-container">

<div class="grid-sizer"></div>

{% for img in page.images %}
  <div class="item">
  <a href="{{ img.file }}" target="_blank"><img src="{{ img.file }}"></a><br>{{ img.caption }}
  </div>
{% endfor %}

</div>

<script src="/js/imagesloaded.pkgd.min.js"></script>
<script src="/js/masonry.pkgd.min.js"></script>
<script>
var container = document.querySelector('#masonry-container');
var msnry;
// initialize Masonry after all images have loaded:
imagesLoaded( container, function() {
  msnry = new Masonry( container, {
  "columnWidth": ".grid-sizer",
  "gutter": 10,
  "itemSelector": '.item'
  });
});
</script>


{% include footer.html %}