{% include header.html %}

{{ content }}

<p>&nbsp;</p>

<h2>Images</h2>

<div id="masonry-container"
  class="js-masonry"
  data-masonry-options='{
    "itemSelector": ".item",
    "columnWidth": ".grid-sizer",
    "gutter": 10
  }'>

<div class="grid-sizer"></div>

{% for img in page.images %}
  <div class="item">
  <a href="{{ img.file }}" target="_blank"><img src="{{ img.file }}"></a><br>{{ img.caption }}
  </div>
{% endfor %}

</div>

<script src="/js/masonry.pkgd.min.js"></script>
<script>
/*
var container = document.querySelector('#masonry-container');
var msnry = new Masonry( container, {
  columnWidth: 295,
  "gutter": 10,
  itemSelector: '.item'
});
*/
</script>


{% include footer.html %}